Hello <%= current_user.nickname %>

<%= image_tag current_user.image_url unless current_user.image_url.blank? %>

<ul>
  <li>Followers:      <%= @user.followers %></li>
  <li>Following:      <%= @user.following %></li>
  <li>Starred Repos:  <%= @user.starred %></li>
</ul>
