Hello <%= current_user.nickname %>


<%= image_tag @user.avatar_url %>


<ul>
  <li>Followers:      <%= @user.followers %></li>
  <li>Following:      <%= @user.following %></li>
  <li>Starred Repos:  <%= @user.starred %></li>
</ul>
